<div class="container-fluid bg-white">

  <div *ngIf="isAllProductReq"  class="text-center mt-3" style="padding-left:45%;padding-top: 10%;">
      <div class="spinner"></div>
</div>       
        
    <div class="row  p-4  mt-2 mb-4"  *ngIf="!isAllProductReq && apiError===''&& !isEmptyCategory">
            
                  <div class="text-center  text-muted h3">List  of {{categoryName.toUpperCase()}} </div>
      
      <div  class=" col-xs-5 col-sm-4 col-md-3 col-lg-2 card  card-design bg-light text-dark m-1 "
      *ngIf="!isEmptyCategory"
      (click)="openPopup()"
      style="padding-right:1px ;">
      <img class="card-img-top img mt-3"  height="200em" width="250em" 
      src="../../../../../../assets/addImage2.jpg" alt="Card image cap">
         
      <div class="card-body mt-2"> 
      <h1 class="card-title text-center">NEW </h1>
      <h1 class="card-title text-center">PRODUCT </h1>
      </div>
       
      
      </div>
      
                <div  class="ol-xs-6 col-sm-4 col-md-3 col-lg-2 card  card-design bg-light  text-dark m-1 " 
                      *ngFor="let product of productList"
                      > 
                      <div class="row mt-1">
                          <div class="col-sm-9 col-md-9 col-lg-9 col-12"></div>
                          <div class="col-sm-1 col-md-1 col-lg-1 col-1">                         
                               <app-remove-product [category]="category" 
                                                   [productToDelete]="product.getProductName()"
                                                   (productRemoved)="apiCall(categoryName)">
                               </app-remove-product>
                          </div>
                      </div>      
                    <img class="card-img-top img mt-1"  height="200em" width="250em" 
                         [src]="menuApi.getImage(categoryName,product.getProductName())" alt="Card image cap">
                     <div class="card-body">
                       <h3 class="card-title">{{product.getProductName()}}</h3>
                       <div class="text-right   mb-1">
                        Rs   {{product.getProductPrice()}}.00
                       </div>
                       <app-add-image 
                       [categoryName]="categoryName"
                       [imageName]="product.getProductName()"
                       (isSetImage)="apiCall(categoryName)"></app-add-image>
                     </div>

                     
                    
                    

                </div>
    </div>

   </div>

   <div class="text-danger text-center h3">
    {{apiError}}

   </div>


   <app-add-product [displayStyle]="displayStyle" 
                    (displayClose)="closePopup($event)"
                     [category]="category"></app-add-product>