<div class="container-fluid bg-white">
        
    <div class="row"  >

      <div  class="col-xs-4 col-sm-3 col-md-2 col-lg-2 card  bg-light text-dark m-1"
      
      (click)="openPopup()">
      <img class="card-img-top img mt-3"  height="200em" width="250em" 
      src="../../../../../../assets/addImage2.jpg" alt="Card image cap">
         
      <div class="card-body mt-2"> 
      <h1 class="card-title text-center">NEW </h1>
      <h1 class="card-title text-center">PRODUCT </h1>
      </div>
       
      
      </div>
      
                <div  class="col-xs-4 col-sm-3 col-md-2 col-lg-2 card  bg-light  text-dark m-1" 
                      *ngFor="let product of productList"> 

                      <div class="row mt-1">
                          <div class="col-10"></div>
                          <div class="col-2">                         
                               <app-remove-product [category]="category" 
                                                   [productToDelete]="product.getProductName()"
                                                   (productRemoved)="apiCall(categoryName)">
                               </app-remove-product>
                          </div>
                      </div>      
                    <img class="card-img-top img mt-1"  height="200em" width="250em" 
                         [src]="menuApi.getImage(categoryName,product.getProductName())" alt="Card image cap">
                     <div class="card-body">
                       <h3 class="card-title">{{product.getProductName()}}</h3>
                       <div class="text-right   mb-1">
                        Rs   {{product.getProductPrice()}}.00
                       </div>
                        <app-add-image 
                        [categoryName]="categoryName"
                        [imageName]="product.getProductName()"
                        (isSetImage)="apiCall(categoryName)"></app-add-image>
                     </div>
                    
                </div>
    </div>

   </div>
   <app-add-product [displayStyle]="displayStyle" 
                    (displayClose)="closePopup($event)"
                     [category]="category"></app-add-product>