
<div class="sticky-top m-1">

    <div class="container-fluid  " >   

       
      
       <div class="overflow-auto row flex-row flex-nowrap cat-row p-1"
         >

             

           <div class="card  card-design mb-1 btn btn-secondary m-1" 
                style="width: 11em;height: 14em; border-radius: 100;" 
                (click)="openPopup()">
                <img class="card-img-top img pb-1 img-design"  height="125" weight="30" 
                src="../../../../../../assets/addimagegreen.jpg"
                alt="Card image cap">
               <h2 class='text-dark text-nowrap mt-1'>NEW</h2>
               <h2 class='text-dark text-nowrap'>CATEGORY</h2>                
            </div>

        
          
           <div class="card  card-design btn btn-secondary  m-1  mb-1 "  
                style="width: 11em;height: 14em; border-radius: 100;"
                *ngFor="let category of listOfCategory"
                 (click)="sentToListCategory(category.getCategoryName())">
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-4">
                      <app-remove-category 
                      [categoryName]="category.getCategoryName()"
                      (categoryRemoved)="apiCall()">
                      </app-remove-category>
                    </div>

                </div>

                 <div class="text-center ">
                     
                        
                                     
                     <img class="card-img-top img img-design"  height="60" weight="30" 
                          [src]="menuApi.getImage(category.getCategoryName(),'main')"
                          alt="Card image cap">
                     <div class='text-muted mt-2 h6 text-nowrap'>
                      {{category.getCategoryName().toUpperCase()}}</div>
                     <app-add-image 
                     [categoryName]="category.getCategoryName()"
                     [imageName]="'main'"
                     (isSetImage)="apiCall()"></app-add-image>
                 </div>
                
                     
                                            
                                           
           </div>

          

           <div class="text-secondary mt-5 p-3" *ngIf="listOfCategory.length<=0">Empty Add New Category</div>
           <div *ngIf="isAllCategoryReq"  class="text-center">
            <div class="spinner-border" role="status">
               <span class="sr-only"></span>
          </div>
       </div>       
    </div>  
    
    
</div>


    <app-add-category [displayStyle]="displayStyle" (displayClose)="closePopup($event)"></app-add-category>


