
<h3 (click)="openPopup()" class="btn text-muted btn-outline-secondary ">Image</h3>


<div
class="modal mt-5"
tabindex="-1"
role="dialog"
[ngStyle]="{'display':displayStyle}"> 

    <div class="modal-dialog modal-lg" role="document"> 
      <div class="modal-content bg-light"> 
           <div class="modal-header bg-secondary text-white"> 
                <h4 class="modal-title mt-1 "><div class="">UPDATE IMAGE</div></h4> 
                
           </div> 
           <div class="modal-body">  
               
               <div *ngIf="isSetImageRed"  class="text-center">
                  <div class="spinner-border" role="status">
                     <span class="sr-only"></span>
                </div>
                </div>
                <div *ngIf="!isSetImageRed"  class="mb-3">
                    <label for="formFileMultiple" class="form-label">SELECT IMAGE</label>
                    <input class="form-control" type="file" id="file" 
                           accept=".png, .jpg, .jpeg" 
                           (change)="onFileSelected($event)">
                </div>
               
                <div class="text-danger text-center">{{apiError}}</div>
                
               <div class="modal-footer row mt-3">     
                     <button 
                             class="btn btn-outline-danger text-danger col-3" 
                             (click)="closePopup()"> 
                             cancel
                     </button>
                     
                     <button *ngIf="isNewImage" (click)="onSaveFile()"
                             class="btn btn-outline-success btn-light text-success col-4" 
                             > 
                             add
                     </button>
                     <button *ngIf="!isNewImage" (click)="onUpdateFile()"
                     class="btn btn-outline-success btn-light text-success col-4" 
                     > 
                     update
                     </button>
               </div>             
          </div> 

      </div> 
  </div> 
</div>


